
@media screen and (min-width:300px){  
    img#img-main2 {
        display: block;
      }

      #header {
        z-index: 99;
        position: relative;
      }
}

@media screen and (min-width:300px) and (max-width:400px){
    header {
        z-index: 99;
    }


    div.right {
        display: flex;
        width: 100%;
        max-width: 900px;
        height: 100%;
        max-height: 400px;
        margin: 0 auto;
        order: 1;
        position: relative;
        float: none;
        background-image: url(../img/image-mockups.png);
        background-position-y: -100%;
        
        background-repeat: no-repeat;
        background-size: 100%;
        z-index:1;
    }
    .right > img {
        display: flex;
        margin: 0 auto;
        width: 100%;
        max-width: 580px;
        text-align: center;
        float: none;
        top: -40%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (min-width:300px) and (max-width:992px){

    html, body {
        font-size: 1rem;
    }

   .box  header#header {
        position: fixed;
        z-index: 10 !important;
    }

    /* menu hamburgur para mobile (começo)*/

    .menu-toggle {
        display: block;
        cursor: pointer;
        z-index: 1;
    }

    .menu-toggle > img {
        width: 30px;
        height: 20px;
        z-index: 1;
    }

    /* menu hamburgur para mobile  (fim)*/

    .menu div.links {
        display: none;
        flex-direction: column;
        background-color: white;
        width: 90%;
        max-width: 500px;
        
        padding: 25px;
        position: absolute;
        left: 50%;
        top: 5rem;
        z-index: -99 !important;
        transform: translate(-50%);
        transition: 1s all ease-out;

        border-radius: 5px;
        box-shadow:  0px 0px 20rem 10rem hsla(233, 26%, 24%, 0.322);
      
    }

    div.links > a {
        color: rgb(45, 49, 77);
        opacity: 0.7;
        font-weight: 600;
        font-family: 'Public Sans', sans-serif;
        font-size: 1.125rem;
    }

    div.links > a:hover {
        color: hsl(136, 65%, 51%);
    }

    div.button {
        display: none;
    }

    #divOrder1 {
        order: 2;
        padding: 3% 0;
    }

    #divOrder2 {
        order: 1;
        display: none;
    }

    header .menu{
        height: 30px;

    }

    header .logo {
        float: left;
    
    }
    header .logo > img{
        float: left;
        position: relative;
        left: -20%;
    }

    section.banner  {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    main.content {
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
        padding: 0 4%;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    main.content > h1 {
        font-size: 2.5625rem;
        padding: 0 30px;
    }

    main.content > p {
        padding: 0 20px;
    }

    main.content > input {
        margin: 0 auto;
        text-align: center;
        padding: 16px 40px;
    }

    div.right {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 540px;
      
        margin: 0 auto;
        order: 1;
        position: none;
        float: none;
        background-image: url(../img/bg-intro-mobile.svg);
        background-position-y: -90px;
        background-position-x: center;
        
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top center;
    }

    .right > img {
        display: flex;
        margin: 0 auto;
        width: 100%;
        max-width: 580px;
        text-align: center;
        float: none;
        top: -24%;
        position: absolute;
        left: 50%;
     
        transform: translate(-50%);
    }

    #img-main {
        display: none;
        z-index: 0;
      }

    /* .right > img:nth-child(2){
        display: none;
      } */

  
    div.center {
        width: 100%;
        max-width: 100%;
    }

    section.info-cards {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    section.cards {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.card {
        width: 100%;
        max-width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.card > p {
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .center2 {
        padding: 0 4%;
    }

    .center2 > h1 {
        text-align: center;
        margin-top: 6rem;
    }

    div.articles {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    div.card-2 {
        width: 100%;
        max-width: 350px;
        margin-top: 2rem;
    }

    div.card-2 > img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    div.text-align {
        max-width: 100%;
        width: 100%;
    }

    .center3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 4rem;
    }

    footer {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        gap: 10px;
    }

    .privacy > button {
        margin-top: 2rem;
        float: none;
    }
    .redes > img {
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

}